<!doctype html>
<meta charset="utf-8">
<link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../assets/static/mock.css">
<title>Home — sametz</title>
<body>
  <header>
    <h1>sametz</h1>
    <nav>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li class="active"><a href="/blog">Blog</a></li>
        <li class="active"><a href="/projects">Projects</a></li>
        <li class="active"><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>
  <div class="page">
    <p>The quick brown fox jumped over the lazy dog.</p>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad atque culpa dolorem ea illum ipsa magni praesentium rerum voluptatum. Commodi hic neque voluptates? Eligendi nam omnis pariatur quam repellendus.</span><span>Dolorum, enim voluptatibus. Accusantium beatae dicta dignissimos distinctio dolores doloribus, eos est eum explicabo in labore libero magni maiores molestiae natus nihil possimus reiciendis tempora vero voluptates. Maiores, maxime possimus.</span></p>
    <p id="p2"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad atque culpa dolorem ea illum ipsa magni praesentium rerum voluptatum. Commodi hic neque voluptates? Eligendi nam omnis pariatur quam repellendus.</span><span>Dolorum, enim voluptatibus. Accusantium beatae dicta dignissimos distinctio dolores doloribus, eos est eum explicabo in labore libero magni maiores molestiae natus nihil possimus reiciendis tempora vero voluptates. Maiores, maxime possimus.</span></p>
  </div>
  <footer>
    &copy; Copyright 2017 by Geoffrey Sametz.
  </footer>
</body>
